*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/permissionlib/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i
/permissionlib/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i.len
